<form method="post" enctype="multipart/form-data">
    <input required type="file" name="img" multiple accept="image/png, image/jpeg"></input>
    <button>Yükle</button>
</form>

<img src="@ViewBag.Image"></img>