@{
    ViewData["Title"] = "Hakkımda";
}

<article class="flex flex-col shadow my-4">
    <div class="bg-white flex flex-col justify-start p-6">       
        <h1 class="text-2xl font-bold pb-3">Hakkımda</h1>
        <p class="pb-3">Merhaba, Ben Miray Karagöz. 22 yaşındayım ve İstanbul'un renkli sokaklarında hayat buluyorum. Bilgiye ve yazılıma olan tutkumla doluyum. Bilgisayar Programcılığı alanında kendimi geliştirmek için İstanbul Üniversitesi'nde eğitim alıyorum. Ayrıca, yazılım dünyasının yeni teknolojilerini öğrenmek ve kariyerimi ilerletmek amacıyla Acunmedya Akademi'de Backend yazılım eğitimi alıyorum.</p>
        <p class="pb-3">Bilgisayar dünyasının derinliklerine inmek ve kodun gücünü keşfetmek için adım atan biriyim. Kod yazarken yaşadığım heyecanı tarif etmek imkansız. Bir proje üzerinde çalışırken, her satırın altında yatan potansiyeli görmek ve bunu gerçeğe dönüştürmek benim için bir tutku haline geldi. Yazılımın hayatı nasıl kolaylaştırabileceğini ve iş dünyasını nasıl dönüştürebileceğini keşfetmek, sadece bir hedef değil, aynı zamanda yaşam amacım haline geldi. Bu yolda ilerlerken, her gün yeni şeyler öğrenmek ve kendimi geliştirmek için sabırsızlanıyorum.</p>
    </div>
</article>