@model List<Post>

@{
    ViewData["title"] = "Anasayfa";
}

<div class="container mx-auto px-4">
    @foreach (var postItem in Model)
    {
        <article class="shadow-lg rounded-lg overflow-hidden my-4">
            <div class="bg-white p-6 flex flex-col justify-start h-full">
                <a href="/home/detay/@postItem.Id" class="text-3xl font-bold hover:text-gray-700 pb-4">@postItem.Title</a>
                <a href="/home/detay/@postItem.Id" class="pb-6">@postItem.Summary</a>
                <a href="/home/detay/@postItem.Id" class="uppercase text-gray-800 hover:text-black mt-auto">Devamı için tıklayınız <i class="fas fa-arrow-right"></i></a>
            </div>
        </article>
    }
</div>
